/* VARIABLES */

:root {
    --primary-color: #330033;
    --secondary-color: #440044;
    --terciary-color: #6b006b;
    --white-color: #fff;
    --light-gray-color: #eee;    
    --gap: 3rem;
}

/* ELEMENTS */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans' , sans-serif;
    font-size: 2rem;
    line-height: 1.5;    
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat' , sans-serif;
}
h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
h2 {
    font-size: 6rem;
    text-transform: uppercase;
    line-height: 1.2;
}
h3 {
    font-size: 5rem;    
}
h4 {
    font-size: 4.5rem;    
}
h5 {
    font-size: 4rem;   
}
h6 {
    font-size: 3.5rem;    
}
p {
    margin-bottom: 3rem;        
}

/* CLASSES */

.main-bg {
    background: url('../images/main-background.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color)
}
.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}
.section {
    min-height: 100vh;
}

/* MENU STYLE */

.menu {    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
}
.menu-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
}
.menu h1 {
    font-size: 3.5rem;
    color: var(--primary-color);
}
.menu h1 a {    
    color: inherit;
}
.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    color: var(--terciary-color);  
}
.menu ul li a {
    display: block;    
    color: inherit;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
}
.menu ul li a::after {
   position: absolute;
   content: '';
   bottom: 1rem;
   left: 50%;
   width: 0;
   height: 0.2rem;
   background: var(--highlight-color);
   transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}
.close-menu {
    display: none;
}

/* INTRO CONTENT SECTION */

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    margin-top: 30px;
    min-height: 100vh;    
}
.intro-text-content, .intro-img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.intro-img img {
    max-width: 100%;
}

/* FIRST CONTENT SECTION */

.first-content {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    text-align: center;     
    min-height: 100vh;
    max-width: 60rem;
}
.first-content h2 {
    padding-bottom: 3rem;
}

/* SECOND CONTENT SECTION */

.second-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.second-content p {
    padding-bottom: 9rem;
}
.grid-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    gap: var(--gap); 
    counter-reset: grid-counter;     
}
.grid-content h3 {
    font-size: 2.5rem;
    position: relative;
    padding-left: 5rem;
    margin-bottom: 1rem;
}
.grid-content h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 6rem;
    top: -3rem;  
    left: -0.2rem;  
    transform: rotate(8deg);
}
.grid-content p {
    background-color: var(--terciary-color);
    padding: 2rem;    
    border-radius: 1rem;    
}

/* GALLERY CONTENT SECTION */

.gallery-content {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.gallery-img {    
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}
.gallery-img img {
    transition: all 300ms ease-in-out;    
}
.gallery-img img:hover {
    transform: scale(1.2) rotate(5deg);
}

/* RECENT JOBS CONTENT */

#recent-jobs .second-content .grid-content {
    grid-template-columns: 1fr;
}
#recent-jobs .second-content .grid-content p {
    height: auto;
    background: none;
    padding: 0;
}

/* TABLE CONTENT SECTION */

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}
table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}
table caption {
    font-size: 1.5rem;
    text-align: left;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}
table td, table th {
    white-space: nowrap;
    border: 0.1rem solid var(--light-gray-color);
    text-align: left;
    padding: 0.8rem;
}
table th {
    background-color: var(--light-gray-color);
}
tfoot tr td{
    text-align: center;
    background-color: var(--light-gray-color);
}

/* CONTACT FORM CONTENT */

#contact .intro-content .intro-img img {
    max-width: 35rem;
    max-height: 35rem;
    margin: auto;
}
.contact-form {
    grid-column: span 2;
}
.contact-form .field-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.contact-form .field-grid legend {
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}
.form-group {
    flex: 1 1 32rem;    
}
.form-group label {
    display: block;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    background-color: var(--white-color);
    border-radius: 1rem;
}
div.full-width {
    flex: 1 1 100%;
}
.form-group button {
    padding: 1rem;
    margin-bottom: 3rem;
    background: none;
    border: 0.3rem solid var(--white-color);
    border-radius: 1rem;
    color: var(--white-color);
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover {
    background-color: var(--light-gray-color);
    color: var(--primary-color);
    transform: scale(1.1) rotate(360deg);
}
.form-group ::placeholder {
    color: #00000050;
}

/* FOOTER CONTENT */

.footer {      
    display: flex;    
    justify-content: center;
    align-items: center;
    background: var(--light-gray-color);    
}
.footer p {    
    font-size: 1.5rem; 
    font-style: italic;   
    margin: 0;
    padding: 1.5rem;    
}
.footer a {
    padding: 0 1rem;
}
.footer a i {
    font-size: 3rem;
    color: #00000077;    
    transition: all 200ms ease-in-out;
}
.footer a i:hover {
    transform: scale(1.1);
}
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--light-gray-color);
    color: var(--primary-color);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.3rem;
    border-radius: 50%;
    border: 0.2rem solid var(--primary-color);
    font-size: 3.5rem;
    transform: rotate(-90deg);
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
    h1,h2,h3,h4,h5,h6 {
        text-align: center;
    }
    .grid-content h3::before {
        left: 13rem;
    }
    .intro-content, .grid-content {
        grid-template-columns: 1fr;
    }  
    .gallery-content h2, p {
        text-align: center;
    }
    .gallery-img {
        margin: auto;
    }   
    #contact .intro-content {
        display: block;
    }
    #contact .intro-content .intro-img {
        padding: 0rem 0rem 5rem 0rem;
    }
    #contact .intro-content .intro-img img{
        max-width: 30rem;
        max-height: 30rem;
    }
    .footer {
        flex-direction: column;
    }    
    .menu {        
        display: none;
        bottom: 0;
        text-align: center;
    }
    .menu-content {
        height: 100vh;
    }
    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }    
    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 1rem;
        background: var(--secondary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        border-radius: 0.5rem;
        cursor: pointer;
    }    
    .close-menu:checked~.menu {
        display: block;
    }
    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }
    html {
        margin-top: -3rem;
    }
}